<div class="hero min-h-screen"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
      <p class="mb-5">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>

<footer class="footer bg-base-200 p-10 text-base-content">
  <aside>
    <svg width="100" height="100" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
      clip-rule="evenodd" class="fill-current">
      <image href="https://img.daisyui.com/images/daisyui-logo/daisyui-logomark.svg" x="0" y="0" width="50"
        height="50" />
    </svg>
    <p>
      ACME Industries Ltd.
      <br />
      Providing reliable tech since 1992
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Services</h6>
    <a class="link-hover link">Branding</a>
    <a class="link-hover link">Design</a>
    <a class="link-hover link">Marketing</a>
    <a class="link-hover link">Advertisement</a>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <a class="link-hover link">About us</a>
    <a class="link-hover link">Contact</a>
    <a class="link-hover link">Jobs</a>
    <a class="link-hover link">Press kit</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link-hover link">Terms of use</a>
    <a class="link-hover link">Privacy policy</a>
    <a class="link-hover link">Cookie policy</a>
  </nav>
</footer>