<script src="/scripts/test-rte.js" type="module" defer></script>
<body>
  <div class="drawer">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col justify-stretch items-center min-h-[100dvh]">
      <%- include('./../components/user-navbar.ejs') %>
      <%- include('./../test/index.ejs') %>
    </div>
    <div class="drawer-side">
      <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu min-h-full w-80 bg-base-200 p-4 text-base-content">
        <button class="btn justify-start items-center">
          <label class="swap swap-rotate aspect-square h-[100%]">
            <!-- this hidden checkbox controls the state -->
            <input type="checkbox" class="hidden theme-controller" value="synthwave" onclick="toggleTheme()" />
            <ion-icon src="/assets/sun.svg" class="swap-off text-base-content" size="large" style="scale:1"></ion-icon>
            <ion-icon src="/assets/moon.svg" class="swap-on text-base-content" size="large" style="scale:1"></ion-icon>
          </label>
          <div class="w-fit ">
            change theme
          </div>
        </button>
        <div class="divider"></div>
        <button class="btn justify-start items-center">
          <ion-icon src="/assets/settings.svg" class="text-base-content" size="large" style="scale:1"></ion-icon>
          <div>Settings</div>
        </button>
      </ul>
    </div>
  </div>
</body>