@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  transition: all linear .5s;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}
input:user-invalid {
  color: red;
}