<body class="grid items-center min-h-screen">
  <div tabindex="-1" aria-hidden="true"
    class="bg-base-200 flex place-items-center overflow-y-auto fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full"
    data-aos="zoom-in" data-aos-duration="500">
    <div class="relative p-4 w-full h-full md:h-auto place-items-center">
      <!-- Modal content -->
      <div class="relative p-4 max-w-[50%] min-w-[30%] text-center bg-base-100 rounded-lg shadow sm:p-5">
        <div
          class="w-12 h-12 rounded-full bg-red-100 dark:bg-red-900 p-2 flex items-center justify-center mx-auto mb-3.5">
          <ion-icon src="assets/error.svg" class="text-base-content font-black" size="large"></ion-icon>
          <span class="sr-only">Error</span>
        </div>
        <p class="mb-4 text-lg font-semibold text-base-content text-ellipsis overflow-hidden">
          <%= message %>
        </p>
        <button type="button" onclick="goToHome()"
          class=" py-2 px-3 text-sm font-medium text-center btn btn-primary rounded-lg   focus:ring-4 focus:outline-none focus:ring-primary-300 dark:focus:ring-primary-900 hover:animate-pulse">
          Go Back
        </button>
      </div>
    </div>
  </div>
</body>
<script>
  const goToHome = () => {
    location.href = '/signup';
  }
</script>